ignore-empty-password
font=JetBrainsMono Nerd Font
clock
#timestr=%H:%M
#datestr=%A, %B %d
screenshots
fade-in=0.2
effect-blur=9x9
effect-vignette=0.5:0.5
grace=2
grace-no-mouse
grace-no-touch
indicator
indicator-radius=100
indicator-thickness=7
bs-hl-color={{base08-hex}}
key-hl-color={{base0B-hex}}
separator-color=00000000
inside-color={{base00-hex}}88
inside-clear-color={{base00-hex}}88
inside-ver-color={{base00-hex}}88
inside-wrong-color={{base00-hex}}88
line-color=00000000
line-clear-color=00000000
line-ver-color=00000000
line-wrong-color=00000000
ring-color={{base0D-hex}}
ring-clear-color={{base0A-hex}}
ring-ver-color={{base0D-hex}}
ring-wrong-color={{base08-hex}}
text-color={{base05-hex}}
text-clear-color={{base05-hex}}
text-ver-color={{base05-hex}}
text-wrong-color={{base08-hex}}
